#navbar{
    position:fixed;
    height:100%;
    min-width:300px;
    top:0px;
    left:0px;
    
    color:black;
    background-color:white;
    padding:75px 0px;
  }
  
  @media only screen and (max-width:800px)
  {
    #VD-logo{
      position:absolute;
      height:auto;
      min-width:300px;
      width:300px;
      top:10px;
      left:0px;
      z-index:2;
    
  }
}
    